.product {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  z-index: 30;
  padding: 40px;
}

.product__title {
  margin-top: 12px;
  margin-bottom: 12px;
}

.product__category {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.product__description {
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product__imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__image {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.product__rating {
  display: flex;
}

.product__price {
  margin-bottom: 20px;
}

.product__icon {
  height: 20px;
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

.product__hasprime {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.product__hasprimeImg {
  width: 48px;
}

.product__hasprimeDelivery {
  font-size: 12px;
  line-height: 16px;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  margin-left: 13px;
}

.product__button {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  padding: 0.5rem /* 8px */;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  --tw-gradient-from: #fef08a;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(254 240 138 / 0));
  --tw-gradient-to: #facc15;
  --tw-border-opacity: 1;
  border-color: rgb(253 224 71 / var(--tw-border-opacity));
  border-radius: 0.125rem /* 2px */;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
  margin-top: auto;
}
